*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #201e1f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

hr{
    margin: 0 auto;
    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: #EBF216;
}

section{
    margin: 50px auto;
    padding: 10px 10px;
    width: 70%;
    max-width: 900px;
}


#sVideo{
    display: flex;
    justify-content: center;
}

.nav{
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
}

.nav_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_buttons_button{
    background-color:#EBF216;
    text-align: center;
    text-decoration: none;
    padding: 7px 12px;
    margin: 3px;
    border-radius: 3px;
    border: 1px solid #201e1f;
    color: #201e1f;
}

.nav_buttons_button:hover{
    background-color: #201e1f;
    border: 1px solid #ebf216;
    color: #EBF216;
}

.network_link{
    margin: 0px 7px;
    padding: 0px;
    border: 1px solid #201e1f;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.network_link img{
    height: 40px;
    filter: invert(73%) sepia(59%) saturate(631%) hue-rotate(14deg) brightness(117%) contrast(92%);
}

.network_link:hover{
    border: 1px solid #EBF216;
    background-color: #EBF216;
}

.network_link img:hover{
    filter: invert(7%) sepia(11%) saturate(306%) hue-rotate(278deg) brightness(98%) contrast(89%)
}

a, p, span, legend, h2, li{
    color: #FFFEFF;
    padding: 10px;
    font-weight: 100;
    letter-spacing: 1pt;
}

h1{
    font-size: 4rem;
    color:#FFFEFF;
    font-family: "Krona One", sans-serif;
    letter-spacing: 10px;
    margin: 40px 40px 30px;
    display: flex;
    justify-content: center;
}


h2{
    font-size: 2.5rem;
    color:#FFFEFF;
    font-family: "Krona One", sans-serif;
    letter-spacing: 10px;
    margin: 30px 40px 30px;
    display: flex;
    justify-content: center;
}

h3{
    font-size: 1.5rem;
    color:#FFFEFF;
    font-family: "Krona One", sans-serif;
    letter-spacing: 10px;
    margin: 30px 0px 20px;

}

li{
    list-style-type: "+";
}


footer {
    background-color: #201e1f;
    color: #FFFEFF;
    text-align: center;
    padding: 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}


#logo_wil{
    width:30px;
    margin-left: 15px;
}

#logo_wil_first{
    width: 100px;
}

button{
    background-color:#EBF216;
    text-decoration: none;
    padding: 3px;
}

article{
    background-color: #201e1f;
}

article p {
    margin-left: 20px;
}

iframe{
    margin: 10px auto;
    padding: 3px;
    width: 534px;
    height: 300px;
}

#btn_top{
    margin: 0px 0px 60px;
}

/* logos redes */

.network_links{
    display: flex;
}

.network_links img{
    height: 60px;
}

.d_contact{
    display: block;
}

/* formulario */
input[type=text], [type=email],select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}


/* project cards */
.project_card{
    text-align: center;
    margin-bottom: 100px;
}

.img_proy{
    width: 480px;
}

.container{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Estilos de color que me gustaron */

color_logo_wil{
    background: #201e1f;
    background: #A6A2A2;
    background: #FFFEFF;
    background: #EBF216;
    background: #0072bb;
}



surprise{
    background: #040C1D;
    background: #313143;
    background: #697488;
    background: #FAFFFF;
    background: #e4ff16;
}

black_orange{
    background: #fffcf2;
    background: #ccc5b9;
    background: #403d39;
    background: #252422;
    background: #eb5e28;
}

v_s_code{
    /* color logo */
    background: #3aa8f2;
    background: #2e81b9;
    /* color fondo */
    background: #1e1e1e;
    background: #252526;
    background: #333333;
    background: #cccccc;
    background: #ffffff;
    background: #141414;
    /* color letras */
    background: #3f8bb4;
    background: #9cdcfe;
    background: #ce9178;
    background: #d4d4d4;
    background: #c586c0;
    background: #ffd710;
    background: #b5ce9f;
    /* color archivos */
    background: #e44d26;
    background: #42a5f5;
    background: #ffca28;
    background: #26a69a;
    background: #ff5252;
    background: #8bc34a;
    background: #42a5f5;
}

colorsWow{
    background: #7FFFD4;
    background: #ff69b4;
};

palete1{
    background: #FFD166;
    background: #118AB2;
    background: #073B4C;
}
palete2{
    background: #8ecae6;
    background: #219ebc;
    background: #023047;
    background: #ffb703;
    background: #fb8500;
}
palete3{
    background: #000814;
    background: #001D3D;
    background: #003566;
    background: #FFC300;
    background: #FFD60A;
}

